include CHANGELOG.md
include LICENSE
include README.md

recursive-include tests *
recursive-include  src/llm_cli/prompts *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include *.md conf.py Makefile
